* {
  margin: 0;
  padding: 0;
}

body {
    min-height: 100%;
}

.hero-title {
  margin-top: 0;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.btn-default{
  display: block;
  font-size: 0.8rem;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.floating-box {
  height: 100px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* Chat Rooms list styling  */

ul {
  padding: 0;
  list-style-type: none;

}

.room {
  padding: 0.4rem;
  font-size: 1.2rem;
  font-family: Helvetica;
  color: #8b8b92;
  cursor: pointer;
}

.room-nav-section {
  height: -webkit-fill-available;
  width: 20%;
  background-color: lightgray;
}

input#submit {
    border-radius: 5px;
    border-style: none;
    height: 2.4rem;
}

/* Messaging section styling */

.current-chatroom-name {
  margin: 0;
  padding: 0.5rem;
}

.messages {
  width: 100%;
  padding: 0.5rem;
}

.message-list-container {
  overflow-y: scroll;
}

.messages:nth-child(odd) {
  background-color: #d3e3f1;
}

.main-messaging-section {
    position: absolute;
    width: 80%;
    height: -webkit-fill-available;
}

.message-sent-time {
  float: right;
  opacity: 0.5;
  font-style: italic;
}

.message-sender {
  font-size: 0.85rem;
  font-weight: bold;
}

.message-text {
  font-size: 0.7rem;
}

.send-message-box {
  border: 1px solid black;
  height: 4rem;
  width: 100%;
  top: 350px;
}

.send-message-textarea {
  width: 80%;
  height: 4rem;
}

.send-message-button {
  background-color: #565454;
  height: 4rem;
  width: 20%;
  position: absolute;
}

input#submit-message {
  height: 100%;
  width: 100%;
  background-color: #565454;
  color: white;
}
