<form ng-submit="createRoom()">
  <div class="modal-header">
    <h3 class="modal-title">Create new room</h3>
    <button type="button" class="close" ng-click="close()">&times;</button>
  </div>
  <div class="modal-body">
    <h5>Enter a room name:</h5>
    <div class="form-group">
      <input type="text" ng-model="text" name="text" class="form-control" placeholder="new room name" ng-minlength="1">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
    <input type="submit" id="submit" value="Create Room"/>
  </div>
</form>
